* {
	margin: 0;
	padding: 0;
}

min {
	display: flex;
	grid-template-areas:
		"f1"
		"f2"
		"f3";
	width: 100%;
}
header {
	display: flex;
	justify-content: space-between;
	background-color: navy;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	width: 95%;
	position: absolute;
}
main {
	background-color: blue;
}
.top {
	align-items: center;
	width: 100%;
	height: 538px;
	background-image: url("./asset/d6c066f48feac5cdfa0c6412e9803894c88e334e.png");
}
h1 {
	font-family: Fraunces 9pt Soft;
	font-weight: 900;
	font-size: 40px;
	line-height: 100%;
	letter-spacing: 6.25px;
	text-align: center;
	text-transform: uppercase;
}
.orange {
	background-image: url("paper.gif");
	background-color: #cccccc;
	text-align: center;
	color: white;
	width: 100%;
	padding-bottom: 0%;
}
.egg {
	padding-top: 0%;
	width: 100%;
}
.bottom {
	width: 100%;
	flex-direction: column;
	text-align: center;
	background-color: white;
}
.box {
	padding-top: 5%;
	padding-bottom: 5%;
}
.su {
	font-family: Barlow;
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: -0.13px;
	text-align: center;
	color: #5b636d;
}
.sun {
	font-family: Fraunces 9pt Soft;
	font-weight: 900;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: -0.13px;
	text-align: center;
	color: #24303e;
}
.sunn {
	font-family: Fraunces 9pt Soft;
	font-weight: 900;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: -0.13px;
	text-align: center;
	color: #a7aaad;
}
